.ong-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    gap: 8px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.ong-card:hover {
    transform: scale(1.1);
    text-shadow:
        0 0 7px #9700c8,
        0 0 12px #9700c8,
        0 0 21px #9700c8;
}

.ong-image {
    width: 153px;
    height: 150px;

    border-radius: 50%;
}

.ong-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    color: rgb(229, 229, 229);
}