.quiz-container {
    width: 60%;
    height: 80%;
    padding: 30px 64px;

    background-color: rgba(229, 229, 229, 1);


}

.card-label {
    font-family: 'Goldman', cursive;
    background-color: rgba(15, 4, 27, 1);
    display: flex;
    width: 40%;
    color: rgb(229, 229, 229);

    margin-left: -200px;
    padding-left: 64px;

    font-size: 32px;
    transition: all 10s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.new-margin {
    margin-left: -64px;
}

.card-label,
.question-label {
    font-family: 'Goldman', cursive;
}

.question-label {
    margin-bottom: 14px;

}

.question-box {
    height: 100px;
    padding-left: 50px;

    background-color: whitesmoke;

    margin-bottom: 30px;
    font-size: 22px;
}

.question-box,
.answer-box {
    display: flex;
    align-items: center;
    width: calc(50% - 64px);
    font-family: 'Roboto', sans-serif;

    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgb(44, 77, 1);
}

.answers {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.answer-box {
    background-color: whitesmoke;
    min-height: 72px;
    width: calc(50% - 64px);
    position: relative;
}

.MuiRadio-root {
    position: absolute;
    left: 2px
}

.buttons {
    width: 100%;
    display: flex;


    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

    padding-right: 30px;
    gap: 20px
}


.answer-btn,
.back-btn {
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 30px;
    color: whitesmoke;

    background-color: rgb(51, 2, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    font-family: 'Goldman', cursive;

}

.answer-btn:hover,
.back-btn:hover {
    transform: scale(1.1);
    text-shadow:
        0 0 7px #9700c8,
        0 0 12px #9700c8,
        0 0 21px #9700c8;
}