.themes-container {
    width: 60%;
    height: 71%;
    padding: 30px 64px;


    background:
        linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.7)), url('../../assets/Background-themes.jpeg');

    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;

    position: relative;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.label-h3 {
    font-family: 'Goldman', cursive;
    background-color: rgba(15, 4, 27, 1);
    display: flex;
    width: 40%;
    color: rgb(229, 229, 229);

    margin-left: -200px;
    padding-left: 64px;

    font-size: 32px;
    transition: all 10s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.new-margin {
    margin-left: -64px;
}

.common-theme {
    position: absolute;

    cursor: pointer;
    top: 315px;
    left: 500px;

    color: rgb(229, 229, 229);

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.common-theme:hover {
    transform: scale(1.1);
    color: rgba(229, 229, 229, 1);
    -webkit-text-stroke: 1px rgb(151, 0, 200);
    text-shadow:
        0 0 7px #9700c8,
        0 0 12px #9700c8,
        0 0 21px #9700c8
}

.fs-100 {
    font-size: 18px;
}

.fs-200 {
    font-size: 24px;
}

.fs-300 {
    font-size: 36px;
}

.fs-400 {
    font-size: 48px;
}

.fs-500 {
    font-size: 56px;
}

.fs-600 {
    font-size: 62px;
}

.fs-700 {
    font-size: 76px;
}


.agua-theme {
    top: 80px;
    left: 450px;
}

.fauna-theme {
    top: 150px;
    left: 750px;
}

.flora-theme {
    top: 200px;
    left: 260px;
}

.compostagem-theme {
    top: 320px;
    left: 80px
}

.agricultura-theme {
    top: 240px;
    left: 420px;
}

.clima-theme {
    top: 320px;
    left: 540px;
}

.lixo-organico-theme {
    top: 370px;
    left: 820px;
}

.residuos-theme {
    top: 570px;
    left: 550px;
}

.meio-ambiente-theme {
    top: 470px;
    left: 630px;
}

.veganismo-theme {
    top: 320px;
    left: 780px;
}

.consumo-theme {
    top: 410px;
    left: 200px;
}

.pecuaria-theme {
    top: 470px;
    left: 300px;
}