.volunteer-container {
    width: 60%;
    height: 80%;
    padding: 30px 64px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.7)), url('../../assets/Background-themes.jpeg');

    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;

    position: relative;
}

.ongs-container {
    width: 80%;
    height: 70%;

    margin-top: 2%;

    display: flex;
    align-self: center;

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 7%;
    column-gap: 15%;

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.volunteer-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(15, 4, 27, 1);
    display: flex;
    width: 53%;
    color: rgb(229, 229, 229);

    margin-left: -200px;
    padding-left: 64px;
    padding-right: 35px;
    padding-bottom: 5px;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    font-size: 32px;
    transition: all 10s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.volunteer-hashtag {
    font-family: 'Goldman', cursive;
}

.volunteer-disclaimer {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.new-margin {
    margin-left: -64px;
}