.volunteer-container {
    width: 60%;
    height: 71%;
    padding: 30px 64px;

    background-color: rgb(144, 144, 200);
    display: flex;
    flex-direction: column;
}

.ongs-container {
    width: 80%;
    height: 70%;

    margin-top: 2%;

    align-self: center;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 3%;
    column-gap: 15%;
}